doctype html
html
	block vars
		-var title = "Boilerplate App"

	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="icon" href="/images/favicon.png")
		//- Styles
		block styles
			link(rel="stylesheet" href="/styles/main.css")

		title= title
	body
		//- Page Content
		block content

		//- Scripts
		block scripts
			script(src="/scripts/main.js")
